<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="lucene-net-temp-2" value="https://pkgs.dev.azure.com/lucene-net-temp2/Lucene.NET/_packaging/lucene-net-temp-2/nuget/v3/index.json" />
  </packageSources>
</configuration>
